:root {
    --primary: #800;
    --adjacent1: #820;
    --adjacent2: #802;
    --complimentary: #088;
    --triad1: #080;
    --triad2: #008;
    --light: #F00;
    --dark: #600;
    --neutral: #41414142; 

}

body {
    background-color: var(--dark);
    transition: all 1s;
}

h1, p {
    color: white;
}

.form-control {
    background-color: var(--neutral);
    color: white;
    border-color: var(--complimentary)
    -webkit-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.47); 
    box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.47);
}

.form-control button {
    background-color: var(--primary)
    -webkit-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.47); 
    box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.47);
}

circle {
    fill: var(--primary);

}

path {
    fill: var(--complimentary);
}

.swatches {
    background-color: var(--neutral);
    border-color: var(--complimentary);
    border: solid 1px var(--complimentary);
    border-radius: 30px;
    /* max-width: 90%; */
    margin: 1em 0;
    padding-bottom: 1em;
    visibility: visible;
}

.hexcode {
    position: relative;
    top: 50px;
    left: -5px;
}

.colorType {
    position: relative;
    top: -65px;
    left: -20px;
    font-size: 15px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.77); 
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.77);
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.primary {
    background-color: var(--primary);
}

.adjacent-1 {
    background-color: var(--adjacent1);
}

.adjacent-2 {
    background-color: var(--adjacent2);
}

.complimentary {
    background-color: var(--complimentary);
}

.triad-1 {
    background-color: var(--triad1);
}

.triad-2 {
    background-color: var(--triad2);
}

.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

@media only screen and (min-width: 768px) {
    .circle {
        height: 100px;
        width: 100px;
    }
    .hexcode {
        top: 38px;
        left: 17px;
    }
    header {
        height: 40vh;
        /* padding-top: 20%; */
        margin-bottom: 10%;
    }
    h1 {
        font-size: 75px;
    }
}

@media only screen and (min-width: 992px) {
    .circle {
        height: 100px;
        width: 100px;
    }
    .hexcode {
        top: 38px;
        left: 17px;
    }
    header {
        height: 40vh;
        /* padding-top: 5%; */
        /* margin-bottom: 10%; */
    }
    h1 {
        font-size: 100px;
    }
}

@media only screen and (min-width: 2200px) {
    .circle {
        height: 100px;
        width: 100px;
    }
    .hexcode {
        top: 38px;
        left: 17px;
    }
    header {
        margin: 1em;
        height: 40vh;
        margin-bottom: 5%;
    }
    h1 {
        font-size: 100px;
    }
}


.modal-content, h5, .modal-body {
    background-color: var(--primary);
    color: white;
    border-color: var(--complimentary)
}


.square {
    width: 50px;
    height: 50px;
    background-color: var(--complimentary);
    margin: 1px;

}

.card {
    width: 90%;
    margin: 0 auto;
    background-color: var(--neutral);
}

.hexcode-fav {
    position: relative;
    top: 50px;
    left: -5px;
    font-size: small;
}

