:root {
    --primary: #800;
    --adjacent1: #820;
    --adjacent2: #802;
    --complimentary: #088;
    --triad1: #080;
    --triad2: #008;
    --light: #F00;
    --dark: #600;
    --neutral: #555555; 

}

body {
    background-color: var(--dark);
    transition: all 1s;
}

h1, p {
    color: white;
}

.form-control {
    background-color: var(--adjacent1);
    color: white;
    border-color: var(--complimentary)
}

.form-control button {
    background-color: var(--primary)
}

circle {
    fill: var(--primary);

}

path {
    fill: var(--complimentary);
}

.swatches {
    background-color: var(--neutral);
    border-color: var(--complimentary);
    border: solid 1px var(--complimentary);
    border-radius: 30px;
    max-width: 90%;
    margin-top: 1em;
    padding-bottom: 1em;
    visibility: visible;
}

.hexcode {
    position: relative;
    top: 50px;
    left: -5px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.primary {
    background-color: var(--primary);
}

.adjacent-1 {
    background-color: var(--adjacent1);
}

.adjacent-2 {
    background-color: var(--adjacent2);
}

.complimentary {
    background-color: var(--complimentary);
}

.triad-1 {
    background-color: var(--triad1);
}

.triad-2 {
    background-color: var(--triad2);
}

.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

@media only screen and (min-width: 768px) {
    .circle {
        height: 100px;
        width: 100px;
    }
}



