:root {
    --primary: #800;
    --adjacent1: #820;
    --adjacent2: #802;
    --complimentary: #088;
    --triad1: #080;
    --triad2: #008;
    --light: #F00;
    --dark: #600;

}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}

circle {
    fill: var(--primary);

}

path {
    fill: var(--complimentary);
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.primary {
    background-color: var(--primary);
}

.adjacent-1 {
    background-color: var(--adjacent1);
}

.adjacent-2 {
    background-color: var(--adjacent2);
}

.complimentary {
    background-color: var(--complimentary);
}

.triad-1 {
    background-color: var(--triad1);
}

.triad-2 {
    background-color: var(--triad2);
}

.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

@media only screen and (min-width: 768px) {
    .circle {
        height: 100px;
        width: 100px;
    }
}



